.App {
  text-align: center;
}

.App-logo {
  height: 150px;
}

.App-header {
  background-color: white;
  height: 200px;
  padding: 20px;
  color: black;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
